.peers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
    align-items: center;
}

.peer_container {
    margin: 15px auto;
    width: 500px;
}
